# App
NODE_ENV= production
BASE_URL= http://localhost:3000
PORT= 3000

# Docker
DOCKER_USERNAME=shahadathhs
PACKAGE_NAME=local_mail_stack
PACKAGE_VERSION=latest

# Database
DATABASE_URL= postgresql://postgres:postgres@localhost:5433/local_mail_stack_db

# Redis
REDIS_HOST= localhost
REDIS_PORT= 22376

# JWT
JWT_SECRET=secret
JWT_EXPIRES_IN=90d

# Local SMTP (App -> Local Server)
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USER=dev@local.stack
MAIL_PASS=devpassword
IMAP_PORT=1143

# Seed Admin
SUPER_ADMIN_EMAIL=admin@local.stack
SUPER_ADMIN_PASS=Admin123!@#